.App {
  /* text-align: center; */
}

.header {
  /* different one for the same thing? (via figma)*/
  /* position: absolute;
  left: 0%;
  right: 0%;
  top: 6.52%;
  bottom: 6.52%; */

  background: #ff395a;
  position: relative;

  /* adjustable width? */
  width: 100%;
  height: 109px;
}

.header-yellow {
  /* position: absolute; */
  width: 100%;
  /* left: 0%;
  right: 0%; */
  /* top: 94.48%;
  bottom: 6.52%; */
  position: relative;
  border-bottom: 6px solid #ffe858;
}

.header-name {
  /* change to relative so minimizing doesnt stack */
  position: relative;
  left: -780px;
  /* right: 500px; */
  top: 5px;
  bottom: 0%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  /* display: flex; */
  /* align-items: center; */
  color: #ffffff;
}

.header-links {
  font-size: 1.5rem;
}

.footer {
  /* position: absolute;
  left: 0px;
  bottom: -1100px;
  height: 100px;
  width: 100%;
  background: #999;
  display: inline-block; */
  position: fixed;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 110px;
  background: rgb(211, 211, 211);
  /* margin-bottom: 10px; */
}

.footer-text {
  color: black;
  margin-left: 15%;
  margin-bottom: 0%;
  margin-top: 0%;
}
.footer-text2 {
  position: relative;
  color: black;
  bottom: 45px;
  margin-top: 0%;

  margin-left: 70%;
}
.footer-text3 {
  position: relative;
  color: black;
  bottom: 88px;
  margin-left: 80%;
}
.short-footer {
  position: absolute;
  left: 0px;
  bottom: -500px;
  height: 100px;
  width: 100%;
  background: #999;
  display: inline-block;
}

.searchBar {
  background-image: url("./images/banners/mainBanner.jpg");
  position: relative;
  width: 100%;
  height: 200px;
  left: 0px;
  top: 0px;
  /* filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.65)); */
  padding-left: 15%;
  /* just to see  */
  /* border: 1px solid #000000; */
  /* background-color: #c1e2c8; */
}

.searchTerm {
  align-items: center;
  height: 38px;
}

.cityBar {
  background-image: url("./images/banners/cityBanner.jpg");

  position: absolute;
  width: 100%;
  height: 136px;
  left: 0px;
  top: 61px;
  /* filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.65)); */
  padding-left: 15%;
  /* just to see  */
  /* border: 1px solid #000000; */
  background-color: #c1e2c8;
}

.bankBar {
  background-image: url("./images/banners/bankLists.jpg");

  position: absolute;
  width: 100%;
  height: 136px;
  left: 0px;
  top: 61px;
  /* filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.65)); */
  padding-left: 15%;
  /* just to see  */
  /* border: 1px solid #000000; */
  background-color: #c1e2c8;
}

.mealBar {
  background-image: url("./images/banners/mealList.jpg");

  position: absolute;
  width: 100%;
  height: 136px;
  left: 0px;
  top: 61px;
  /* filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.65)); */
  padding-left: 15%;
  /* just to see  */
  /* border: 1px solid #000000; */
  background-color: #c1e2c8;
}

.singlebankBar {
  background-image: url("./images/banners/bankName.jpg");

  position: absolute;
  width: 100%;
  height: 136px;
  left: 0px;
  top: 61px;
  /* filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.65)); */
  padding-left: 15%;
  /* just to see  */
  /* border: 1px solid #000000; */
  background-color: #c1e2c8;
}

.singlemealBar {
  background-image: url("./images/banners/mealName.jpg");

  position: absolute;
  width: 100%;
  height: 136px;
  left: 0px;
  top: 61px;
  /* filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.65)); */
  padding-left: 15%;
  /* just to see  */
  /* border: 1px solid #000000; */
  background-color: #c1e2c8;
}

.search {
  padding-left: 10%;
  padding-top: 1.5%;
  margin: auto;
}

.find {
  float: left;
  margin-top: 1.5%;
  text-align: center;
}

.or {
  padding-left: 1%;
}

.searchBarText {
  /* same css as title */
  /* position: relative; */
  /* left: 14.53%; */
  /* right: 71.3%;
  top: 10%;
  bottom: 0%; */

  /* need this  */
  /* padding-left: 13.5rem; */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.searchBarText2 {
  /* same css as title */
  /* position: relative; */
  /* left: 14.53%; */
  /* right: 71.3%;
  top: 10%;
  bottom: 0%; */

  /* need this  */
  /* padding-left: 13.5rem; */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 47px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.topLogo {
  /* padding-left: 13.5rem; */
}

.selectCity {
  border: 1px solid red;
  position: absolute;
  bottom: 232px;
  width: 1094px;
  left: 20%;
  right: 20%;
  height: 413px;
  background: #e6e6e6;
  color: rgb(212, 212, 212);
  text-align: center;
}

.firstTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid red; */
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 5px;
  background: #f3f2f2;
  color: rgb(2, 2, 2);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.torontoContainer {
  /* border: 1px solid red; */
  position: relative;
  /* bottom: 15%; */
  top: 150px;
  width: 80%;
  left: 10%;
  right: 10%;
  height: 50px;
  background: #f3f2f2;
  color: rgb(2, 2, 2);
  text-align: center;
}

.aboutContainer {
  /* border: 1px solid red; */
  position: relative;
  /* bottom: 15%; */
  top: 400px;
  width: 80%;
  left: 10%;
  right: 10%;
  height: 50px;
  background: #f3f2f2;
  color: rgb(2, 2, 2);
  text-align: center;
}

.contactContainer {
  /* border: 1px solid red; */
  position: relative;
  /* bottom: 15%; */
  top: 300px;
  width: 80%;
  left: 10%;
  right: 10%;
  height: 50px;
  background: #f3f2f2;
  color: rgb(2, 2, 2);
  text-align: center;
}
.centerSearch {
  margin-right: 125px;
}

.foodProgramsContainer {
  position: relative;
  /* bottom: 15%; */
  top: 250px;
  width: 90%;
  left: 5%;
  right: 5%;
  height: 1000px;
  background: #e4e4e4;
  margin-bottom: 100px;
  color: rgb(2, 2, 2);
  text-align: center;
  overflow: scroll;
}

.programButtons {
  margin-bottom: 10px;
  margin-right: 90%;
}

.single-img {
  height: 50%;
  width: 50%;
}
.mealContainer {
  border: 1px solid rgb(255, 193, 193);
  background-color: #fde5e9;
  height: 1000px;
}
.menu-item {
  border-bottom: 1px solid rgb(75, 0, 0);
  /* margin-left: 20%; */
  /* display: grid; */
  max-width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.firstImageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.firstContentContainer {
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid rgb(0, 17, 255); */
  /* might take this out abs */
  position: relative;
  /*  */
  height: 550px;
  width: 100%;
  text-align: center;

  /* padding-top: 286px; */
}

.desc {
  font-size: 20px;
}

.middleContentContainer {
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid rgb(72, 255, 0); */
  /* might take this out abs */
  position: absolute;
  /*  */
  height: 1300px;
  width: 100%;
  /* padding-top: 286px; */
}

.middleTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid red; */
  font-size: 35px;
  margin-top: px;
  margin-bottom: 50px;
  background: #f3f2f2;
  color: rgb(2, 2, 2);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.rightImageText {
  padding-left: 10px;
  font-size: 20px;
}

.leftImageText {
  padding-right: 10px;
  font-size: 20px;
}

.middleImageContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cityStuff {
  /* border: 1px solid rgb(0, 255, 42); */
  position: absolute;
  top: 1750px;
  left: 10%;
  right: 10%;
  height: 300px;
  margin-bottom: 10px;
}

.links-text {
  margin-left: 30px;
  letter-spacing: 3px;
  color: #c1e2c8;
}

.btn-city {
  color: #c1e2c8;
  /* background: #ff395a; */

  margin-left: 10px;
  padding: 10px 20px;

  border-radius: 6px;
}

.btn-back {
  background: rgb(179, 200, 245);
  border-color: transparent;
  height: 50px;
  width: 100px;
  font-size: 1.3rem;
  /* margin: 0 0.5rem; */
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: rgb(21, 187, 209);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
  border: 0.1px solid rgb(0, 16, 246);
  padding-bottom: 1em;
}
.btn-back:hover {
  background: rgb(0, 234, 255);
  color: rgb(4, 3, 46);
}

.smallImg {
  width: 400px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 5%;
}

.rightsmallImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
}

.smallLogo {
  height: 33px;
}

.leftMiddleImage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  margin-right: 20%;
}

.rightMiddleImage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 10px;

  margin-left: 20%;
}

.helperText {
  font-size: 25px;
  text-align: center;
  margin-bottom: 1%;
}

.cityButtonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  /* margin-left: 15%;

  margin-top: 15px; */
  /* align-items: center; */
}

.project-title {
  font-size: 50px;
  font-weight: 800;
  /* border-bottom: 1px solid rgb(75, 0, 0); */
}

.project-location {
  font-size: 25px;
}

.project-desc {
  font-size: 20px;
}

.seemore {
  width: 150px;
  height: 50px;
  font-size: 20px;
}

.place {
  font-size: 60px;
  font-weight: 800;
}
.description {
  font-size: 30px;
  font-weight: 200;
}
.location {
  margin-top: 50px;
  font-size: 45px;
  font-weight: 300;
}
.contact {
  font-size: 40px;
  font-weight: 400;
}
.map {
  margin-top: 200px;
  font-size: 20px;
}

.wrap {
  margin: 0 auto;
  width: 100%;
}
/*  */
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background: var(--clr-grey-10); */
  background: #f1f1f1;

  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
  color: #e4e4e4;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Navbar
===============
*/
nav {
  background: #ff395a;
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  display: flex;
  position: absolute;
  height: 10px;
  left: 20%;

  /* text-align: left; */
}
.links a {
  color: hsl(209, 34%, 30%);
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {
  background: rgb(76, 221, 246);
  color: blue;
}

.links-container {
  height: 0;
  overflow: hidden;
  padding-right: 13.5rem;
  transition: all 0.3s linear;
}
.show-container {
  height: 10rem;
}

/* need to see how to fix the navbar, or make the stuff on top of eachother */
@media screen and (min-width: 800px) {
  /* @media screen { */
  .nav-center {
    /* max-width: 1170px; */
    background: #ff395a;

    /* position: fixed; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* padding: 0.2rem; */
  }
  .nav-header {
    padding: 0;
    left: 10%;
    background: #ff395a;
    box-shadow: var(--light-shadow);
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 1rem;
    margin: 0 0.5rem;
  }
  h3 {
    padding: 1rem;

    color: rgb(11, 0, 161);
  }
  .links a:hover {
    padding: 0.25rem;
    background: transparent;
  }
}
/*  */
