.App {
  text-align: center;
}

.header {
  /* different one for the same thing? (via figma)*/
  /* position: absolute;
  left: 0%;
  right: 0%;
  top: 6.52%;
  bottom: 6.52%; */

  background: #ff395a;
  position: relative;

  /* adjustable width? */
  width: 100%;
  height: 48px;
}

.header-yellow {
  /* position: absolute; */
  left: 0%;
  right: 0%;
  top: 94.48%;
  bottom: 6.52%;
  border-bottom: 3px solid #ffe858;
}

.header-name {
  /* change to relative so minimizing doesnt stack */
  position: relative;
  left: 14.53%;
  right: 71.3%;
  top: 0%;
  bottom: 0%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 132px;
  background: #f1f1f1;
  color: white;
  text-align: center;
}

.footer-text {
  color: black;
}

.searchBar {
  position: absolute;
  width: 100%;
  height: 236px;
  left: 0px;
  top: 50px;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.65));

  /* just to see  */
  border: 1px solid #000000;
  background-color: #c1e2c8;
}

.searchBarText {
  /* same css as title */
  position: relative;
  left: 14.53%;
  right: 71.3%;
  top: 10%;
  bottom: 0%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
